nav {
  background-color: black;
}

.new_profile_pic{
    height: 100px;
    width: 100px;
    border-radius: 50%;

}

.name{
 text-align: center;
}


.background{

}

.Goals {

}

.sociamedia {

}

.footer {

  text-align: center;
}
